@media (min-width: 1061px) and (max-width: 10800px) {
  .s13-aside {
    height: 200px;
    width: 80%;
    /* background-color: rgb(43, 195, 55); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .s13-aside p {
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.28px;
    word-wrap: break-word;
    text-align: center;
  }

  /* todo  Section 13  Start */

  .section-13 {
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
  }
  .section-13 .s13-main {
    height: 562px;
    width: 92%;
    /* background-color: turquoise; */
    display: flex;
    justify-content: center;
    background-image: url(../Images/S-12/s13-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .s13-main .s13-text-div {
    height: 138px;
    width: 750px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
  }
  .s13-hed {
    height: 52px;
    width: 490px;
    font-size: 47px;
    font-weight: 600;
    letter-spacing: 0.144px;
    line-height: 50px;
    text-align: center;
  }
  .s13-para {
    font-size: 21px;
    letter-spacing: 0.232px;
    line-height: 30px;
  }

  .s13-link {
    font-size: 21px;
    letter-spacing: 0.232px;
    line-height: 30px;
    color: #0066cc;
    text-decoration: none;
  }
  .s13-link:hover {
    text-decoration: underline;
  }
}
@media (min-width: 731px) and (max-width: 1060.99px) {
  .s13-aside {
    height: 200px;
    width: 80%;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .s13-aside p {
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.28px;
    word-wrap: break-word;
    text-align: center;
  }

  /* todo  Section 13  Start */

  .section-13 {
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
  }
  .section-13 .s13-main {
    height: 515px;
    width: 750px;
    /* background-color: turquoise; */
    display: flex;
    justify-content: center;
    background-image: url(../Images/S-12/s13-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .s13-main .s13-text-div {
    height: 117px;
    width: 350px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
  }
  .s13-hed {
    height: 36px;
    width: 333px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.128px;
    line-height: 40px;
    text-align: center;
  }
  .s13-para {
    font-size: 17px;
    letter-spacing: 0.232px;
    line-height: 29px;
  }

  .s13-link {
    font-size: 17px;
    letter-spacing: 0.232px;
    line-height: 29px;
    color: #0066cc;
    text-decoration: none;
  }
  .s13-link:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 730.99px) {
  .s13-aside {
    height: 200px;
    width: 80%;
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .s13-aside p {
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.28px;
    word-wrap: break-word;
    text-align: center;
  }

  /* todo  Section 13  Start */

  .section-13 {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
  }
  .section-13 .s13-main {
    height: 570px;
    width: 550px;
    min-width: 80%;
    /* background-color: turquoise; */
    display: flex;
    justify-content: center;
    background-image: url(../Images/S-12/s13-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .s13-main .s13-text-div {
    height: 117px;
    width: 380px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
  }
  .s13-hed {
    height: 36px;
    width: 333px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.128px;
    line-height: 40px;
    text-align: center;
  }
  .s13-para {
    font-size: 17px;
    letter-spacing: 0.232px;
    line-height: 29px;
  }

  .s13-link {
    font-size: 17px;
    letter-spacing: 0.232px;
    line-height: 29px;
    color: #0066cc;
    text-decoration: none;
  }
  .s13-link:hover {
    text-decoration: underline;
  }
}
